<!DOCTYPE HTML>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  </head>

  <body>
    <h1>Contact</h1>
    <p>
      Contact Ruby on Rails Tutorial at: <a href="http://railstutorial.org/feedback">
      For feedback</a>.
    </p>
  </body>
</html>
